$font-family:'Prompt', sans-serif;
@mixin centriranje{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin grid_position($column-start,$column-end,$row-start,$row-end){
    grid-column-start: $column-start;
    grid-column-end: $column-end;
    grid-row-start: $row-start;
    grid-row-end: $row-end;
}